
body{
    display: flex;
    flex-direction: column;
    background-color: rgb(237, 70, 167);
    color: aliceblue;
    padding: 20px 10px;
    align-items:center;
    
}
#calculator{
    background-color: rgb(7, 7, 8);
    margin: 5px;
    width: 100%;
    padding: 25px;
    max-width: 260px;
    border-radius: 12px;

}
#display{
    background-color: rgb(175, 177, 178);
    height: 60px;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    font-size: 30px;
}
.calculator.row{
margin: 5px auto;
}
.calculator.row button{
width: 60px;
height: 60px;
font-size: 25px;
border-radius: 15px;

}
.calculator.row button:hover{
    background-color: rgb(75, 74, 73);
    color: rgb(245, 242, 242);
    cursor:pointer;
}